In [1]:
x=6
type(x)

int

In [2]:
x=5.6
type(x)

float

In [3]:
a1=True
a2=False
type(a2)

bool

In [4]:
name1='anu'
type(name1)

str

In [5]:
x=8.0-6.0j
type(x)

complex

In [6]:
print(x)

(8-6j)

In [7]:
print(x.real,x.imag)

8.0 -6.0

In [8]:
sixty=60
five=5
sixty
five

5

In [9]:
twenty=20
twenty

20

In [10]:
fifty="fifty"
fifty

'fifty'

In [11]:
"date"+"26"

'date26'

In [12]:
"date"+str(4)

'date4'

In [13]:
True and False

False

In [14]:
True or False

True

In [15]:
not True

False

In [16]:
not False

True

In [17]:
True is True

True

In [18]:
True is False

False

In [19]:
"s" is "s"

True

In [20]:
i=10
if i<10:
    print('lesser than 10')
elif i<15:
        print('lesser than 15')
else:
        print('5 or more')

lesser than 15

In [21]:
j=8
if j<20:
    print('lesser than 20')

lesser than 20

In [22]:
l=[]
l

[]

In [23]:
l=list("5")
l

['5']

In [24]:
l=['2','4','6']
l

['2', '4', '6']

In [25]:
l=['c',3]
l

['c', 3]

In [26]:
l2=list(l)
l2

['c', 3]

In [27]:
list('sfghyt')

['s', 'f', 'g', 'h', 'y', 't']

In [28]:
l=[3,4]
print(l)
l.append('f')
print(l)
l.append('g')
print(l)
l.insert(1,30)
l

[3, 4]
[3, 4, 'f']
[3, 4, 'f', 'g']

[3, 30, 4, 'f', 'g']

In [29]:
for j in l:
    print(j)

3
30
4
f
g

In [30]:
numbers=[1,2,3,4,5,6,7,8,9]
sum=0
for val in numbers:
    sum=sum+val
#output:The sum is 48
    print("The sum is",sum)
    sum

The sum is 1
The sum is 3
The sum is 6
The sum is 10
The sum is 15
The sum is 21
The sum is 28
The sum is 36
The sum is 45

In [31]:
digits=[2,3,4]
for i in digits:
    print(i)
else:
    print("no items left.")

2
3
4
no items left.

In [32]:

n=int(input("Enter n:"))
sum=5
i=10
while i<=n:
  sum=sum+i
  i=i+1
    #print the sum
print("The sum is",sum)

Enter n:6
The sum is 5

In [33]:
print(range(35))

range(0, 35)

In [34]:
print(list(range(20)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [35]:
print(list(range(5,9)))

[5, 6, 7, 8]

In [36]:
print(list(range(5,10,15)))

[5]

In [37]:
genre=['a','b','c','d']
for i in range(len(genre)):
    print("i like",genre[i])

i like a
i like b
i like c
i like d

In [38]:
for val in "RASHMI":
    if val== "I":
        break
    print(val)
    
    print("The end")

R
The end
A
The end
S
The end
H
The end
M
The end

In [39]:
for val in "ANUSHA":
    if val == "S":
        continue
    print(val)
    
print("The end")

A
N
U
H
A
The end

In [40]:
name=input("what is your name?\n")
type(name)

what is your name?
manu

str

In [41]:
age=input("what is your age?")
print("your age is:",age)
type(age)

what is your age?20
your age is: 20

str

In [42]:
name=input("what is your name?")
print("It was nice talking you"+name+"!")
age=input("Enter your age?")
print("Hey,you are already"+age+"years old,"+name+"!")

what is your name?sana
It was nice talking yousana!
Enter your age?21
Hey,you are already21years old,sana!