PANDAS

In [1]:
import pandas
pandas.__version__

'1.0.1'

In [2]:
import numpy as np
import pandas as pd

In [3]:
counts = pd.Series([550, 638, 1569, 415])
counts

0     550
1     638
2    1569
3     415
dtype: int64

In [4]:
counts.values

array([ 550,  638, 1569,  415], dtype=int64)

In [5]:
counts.index

RangeIndex(start=0, stop=4, step=1)

In [6]:
bacteria = pd.Series([550, 638, 1569, 415], 
    index=['Firmicutes', 'Proteobacteria', 'Actinobacteria', 'Bacteroidetes'])

bacteria

Firmicutes         550
Proteobacteria     638
Actinobacteria    1569
Bacteroidetes      415
dtype: int64

In [7]:
bacteria['Actinobacteria']

1569

In [8]:
bacteria[0]

550

In [9]:
bacteria.name = 'counts'
bacteria.index.name = 'phylum'
bacteria

phylum
Firmicutes         550
Proteobacteria     638
Actinobacteria    1569
Bacteroidetes      415
Name: counts, dtype: int64

In [10]:
np.log(bacteria)

phylum
Firmicutes        6.309918
Proteobacteria    6.458338
Actinobacteria    7.358194
Bacteroidetes     6.028279
Name: counts, dtype: float64

In [11]:
bacteria[bacteria>1000]

phylum
Actinobacteria    1569
Name: counts, dtype: int64

In [12]:
bacteria_dict = {'Firmicutes': 632, 'Proteobacteria': 1500, 'Actinobacteria': 569, 'Bacteroidetes': 115}
print(bacteria_dict)
pd.Series(bacteria_dict)

{'Firmicutes': 632, 'Proteobacteria': 1500, 'Actinobacteria': 569, 'Bacteroidetes': 115}

Firmicutes         632
Proteobacteria    1500
Actinobacteria     569
Bacteroidetes      115
dtype: int64

In [13]:
data = {"Province": ["FL", "FL", "NH", "NH", "ZH"],
        "Year": [2016, 2020, 2016, 2020, 2020],
        "Literacy": [0.5, 0.4, 0.3, 0.2, 0.1]}
print(data)
data = pd.DataFrame(data)
data

{'Province': ['FL', 'FL', 'NH', 'NH', 'ZH'], 'Year': [2016, 2020, 2016, 2020, 2020], 'Literacy': [0.5, 0.4, 0.3, 0.2, 0.1]}

  Province  Year  Literacy
0       FL  2016       0.5
1       FL  2020       0.4
2       NH  2016       0.3
3       NH  2020       0.2
4       ZH  2020       0.1

In [14]:
df = pd.DataFrame(data, columns=["Year", "Province" ,"Literacy"])
df

   Year Province  Literacy
0  2016       FL       0.5
1  2020       FL       0.4
2  2016       NH       0.3
3  2020       NH       0.2
4  2020       ZH       0.1

In [15]:
df['nonsense'] = df.Year / df.Literacy
df

   Year Province  Literacy  nonsense
0  2016       FL       0.5    4032.0
1  2020       FL       0.4    5050.0
2  2016       NH       0.3    6720.0
3  2020       NH       0.2   10100.0
4  2020       ZH       0.1   20200.0

In [16]:
df['Serie_aligned'] = pd.Series(range(5), index=[0,1,2, 3, 4])
df

   Year Province  Literacy  nonsense  Serie_aligned
0  2016       FL       0.5    4032.0              0
1  2020       FL       0.4    5050.0              1
2  2016       NH       0.3    6720.0              2
3  2020       NH       0.2   10100.0              3
4  2020       ZH       0.1   20200.0              4

In [17]:
df.to_dict()

{'Year': {0: 2016, 1: 2020, 2: 2016, 3: 2020, 4: 2020},
 'Province': {0: 'FL', 1: 'FL', 2: 'NH', 3: 'NH', 4: 'ZH'},
 'Literacy': {0: 0.5, 1: 0.4, 2: 0.3, 3: 0.2, 4: 0.1},
 'nonsense': {0: 4032.0, 1: 5050.0, 2: 6720.0, 3: 10100.0, 4: 20200.0},
 'Serie_aligned': {0: 0, 1: 1, 2: 2, 3: 3, 4: 4}}

In [18]:
pd.DataFrame(df.to_dict())

   Year Province  Literacy  nonsense  Serie_aligned
0  2016       FL       0.5    4032.0              0
1  2020       FL       0.4    5050.0              1
2  2016       NH       0.3    6720.0              2
3  2020       NH       0.2   10100.0              3
4  2020       ZH       0.1   20200.0              4

In [19]:
data = [{'a': i, 'b':10* i}for i in range(6)]
print(data)
pd.DataFrame(data)

[{'a': 0, 'b': 0}, {'a': 1, 'b': 10}, {'a': 2, 'b': 20}, {'a': 3, 'b': 30}, {'a': 4, 'b': 40}, {'a': 5, 'b': 50}]

   a   b
0  0   0
1  1  10
2  2  20
3  3  30
4  4  40
5  5  50

In [20]:
pd.DataFrame([{'aa': 1, 'bb': 2}, {'bb': 3, 'cc': 6}])

    aa  bb   cc
0  1.0   2  NaN
1  NaN   3  6.0

In [21]:
pd.DataFrame(np.random.randint(2, 12),
             columns=['foo', 'bar'],
             index=['a', 'b', 'c'])

   foo  bar
a    5    5
b    5    5
c    5    5

In [22]:
ind = pd.Index([60, 24, 57, 7, 6, 8])
ind

Int64Index([60, 24, 57, 7, 6, 8], dtype='int64')

In [23]:
ind[1]

24

In [24]:
ind[::]

Int64Index([60, 24, 57, 7, 6, 8], dtype='int64')

In [25]:
print(ind.size, ind.shape, ind.ndim, ind.dtype)

6 (6,) 1 int64

In [ ]:
rng = np.random.RandomState(25)
ser = pd.Series(rng.randint(0, 20, 14))
ser

In [ ]:
dfr = pd.DataFrame(rng.randint(0, 20, (6, 4)),
                  columns=['A', 'B', 'C', 'D'])
dfr

In [ ]:
np.exp(ser)

In [ ]:
np.sin(dfr * np.pi / 4)

In [ ]:
area = pd.Series({'Australia': 2343337, 'Texas': 695662,
                  'America': 4567967}, name='area')
population = pd.Series({'India': 308132521, 'Texas': 26448193,
                        'New York': 932651127}, name='population')
print(area)
population

In [ ]:
population / area

In [ ]:
area.index | population.index

In [ ]:
A = pd.Series([1, 2, 3], index=[0, 1, 2])
B = pd.Series([4, 5, 6], index=[3, 2, 1])
print(A)
print(B)
B
A + B

In [ ]:
A.add(B, fill_value=0)

In [ ]:
df

In [ ]:
df2 = pd.DataFrame({"Province": ["kL", "NH", "xH"], "Population": ["900000", "500000", "700000"]})
df2

In [ ]:
df.merge(df2)  # merge is smart! If there are overlapping names, it uses those for the merge

In [ ]:
df3 = pd.DataFrame({"province": ["kL", "NH"], "Population": ["900000", "500000"]})
df3
df.merge(df3, right_on='province', left_on='Province')

In [ ]:
df4 = pd.DataFrame({"Province": ["kL", "NH", "UT"], "Population": ["900000", "500000", "60000"]})
df.merge(df4, how='outer')

In [ ]:
df5 = pd.DataFrame({"Province": ["kL", "NH", "kL"], "Population": ["900000", "500000", "60000"]})
print(df)
df.merge(df5, how='outer')

In [ ]:
serie_a = pd.Series([np.nan, 5.5, np.nan, 6.5, 4.5, np.nan],
                     index=['a', 'e', 'i', 'o', 'u', 'a'])
serie_b = pd.Series(np.arange(len(serie_a), dtype=np.float64),
                 index=['a', 'e', 'i', 'o', 'u', 'a'])

In [ ]:
serie_a

In [ ]:
serie_b

In [ ]:
pd.Series(np.where(pd.isnull(serie_a), serie_b, serie_a), index=serie_a.index)

In [ ]:
serie_a.combine_first(serie_b)