SESSION5 MODULES AND PACKAGES

In [1]:
import math

In [2]:
math.ceil(2.4)

3

EXPLORING BUILT-IN MODULES

In [3]:
print(dir(math))

['__doc__', '__loader__', '__name__', '__package__', '__spec__', 'acos', 'acosh', 'asin', 'asinh', 'atan', 'atan2', 'atanh', 'ceil', 'copysign', 'cos', 'cosh', 'degrees', 'e', 'erf', 'erfc', 'exp', 'expm1', 'fabs', 'factorial', 'floor', 'fmod', 'frexp', 'fsum', 'gamma', 'gcd', 'hypot', 'inf', 'isclose', 'isfinite', 'isinf', 'isnan', 'ldexp', 'lgamma', 'log', 'log10', 'log1p', 'log2', 'modf', 'nan', 'pi', 'pow', 'radians', 'remainder', 'sin', 'sinh', 'sqrt', 'tan', 'tanh', 'tau', 'trunc']

In [4]:
help(math.ceil)

Help on built-in function ceil in module math:

ceil(x, /)
    Return the ceiling of x as an Integral.

    This is the smallest integer >= x.

ERRORS AND EXCEPTION HANDLING

In [5]:
print('jack and jill went up a hill ')

jack and jill went up a hill

In [6]:
try:
    f = open('testfile','w')
    f.write('Test write this')
except IOError:
    
   print("Error: Could not find file or read data")
else:
   print("Content written successfully")
   f.close()

Content written successfully

In [7]:
try:
    f = open('testfile','w')
    f.write('Test write this')
except IOError:
    
   print("Error: Could not find file or read data")
else:
   print("Content written successfully")
   f.close()

Content written successfully

In [8]:
try:
   f = open("testfile", "w")
   f.write("Test write statement")
finally:
   print("keep smiling")

keep smiling

In [9]:
def askint():
        try:
            val = int(input("Please enter an integer: "))
        except:
            print("Looks like you did not enter an integer!")
            
        finally:
            print("Finally, I executed!")
        print(val)

In [10]:
askint()

Please enter an integer: 66
Finally, I executed!
66

In [11]:
askint()

Please enter an integer: 2342
Finally, I executed!
2342

In [12]:
def askint():
        try:
            val = int(input("Please enter an integer: "))
        except:
            print("Looks like you did not enter an integer!")
            
            val = int(input("Try again-Please enter an integer: "))
        finally:
            print("Finally, I executed!")
        print(val)

In [13]:
askint()

Please enter an integer: abc
Looks like you did not enter an integer!
Try again-Please enter an integer: 123
Finally, I executed!
123

In [14]:
def askint():
    while True:
        try:
            val = int(input("Please enter an integer: "))
        except:
            print("Looks like you did not enter an integer!")
            continue
        else:
            print('Yep thats an integer!')
            break
        finally:
            print("Finally, I executed!")
        print(val)

In [15]:
askint()

Please enter an integer: sss
Looks like you did not enter an integer!
Finally, I executed!
Please enter an integer: 7654
Yep thats an integer!
Finally, I executed!

 DATABASE CONNECTIVITY AND OPERATION USING PYTHON

In [16]:
#!/usr/bin/python

import sqlite3


db = sqlite3.connect("my_database1.db")


db.execute("drop table if exists grades1")


db.execute("create table grades1(id int, name text, score int)")


db.execute("insert into grades1(id, name, score) values(116, 'naira',95 )")
db.execute("insert into grades1(id, name, score) values(118, 'ayra',93 )")
db.execute("insert into grades1(id, name, score) values(119, 'myra', 99 )")
db.execute("insert into grades1(id, name, score) values(120, 'kaira', 90 )")
db.execute("insert into grades1(id, name, score) values(121, 'zara',88 )")

In [25]:
db.commit()

In [26]:
results = db.execute("select * from grades1 order by id")
for row in results:
    print(row)
print("-" * 60 )

(116, 'naira', 95)
(118, 'ayra', 93)
(119, 'myra', 99)
(120, 'kaira', 90)
(121, 'zara', 88)
------------------------------------------------------------

In [28]:
results = db.execute("select * from grades1 where name = 'Gary' ")
for row in results:
    print(row)
print("-" * 60 )

------------------------------------------------------------

In [21]:
results = db.execute("select * from grades1 where score >= 90 ")
for row in results:
    print(row)
print("-" * 60 )

(116, 'naira', 95)
(118, 'ayra', 93)
(119, 'myra', 99)
(120, 'kaira', 90)
------------------------------------------------------------

In [22]:
results = db.execute("select name, score from grades1 order by score desc ")
for row in results:
    print(row)
print("-" * 60 )

('myra', 99)
('naira', 95)
('ayra', 93)
('kaira', 90)
('zara', 88)
------------------------------------------------------------

In [23]:
results = db.execute("select name, score from grades1 order by score")
for row in results:
    print(row)
print("-" * 60 )

('zara', 88)
('kaira', 90)
('ayra', 93)
('naira', 95)
('myra', 99)
------------------------------------------------------------

In [24]:
results = db.execute("select name, score from grades1 order by score")
for row in results:
    print(row)

('zara', 88)
('kaira', 90)
('ayra', 93)
('naira', 95)
('myra', 99)